@model MeteoWidget.Models.TameteoApi

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Meteo</title>
</head>
<body>
    <div id="cont_0621ed8f70d8a01641e0a63b785ffa86">
        <span id="h_0621ed8f70d8a01641e0a63b785ffa86">Meteo <a id="a_0621ed8f70d8a01641e0a63b785ffa86" href="http://www.tameteo.com/meteo_Wattignies-Europe-France-Nord--1-25339.html" rel="nofollow" target="_blank" style="color:#808080;font-family:Helvetica;font-size:14px;">Wattignies</a></span>
        <script type="text/javascript" async src="https://www.tameteo.com/wid_loader/0621ed8f70d8a01641e0a63b785ffa86"></script>
    </div>
    </div><p id="updatetime" style='font-family:Arial; font-size:small;'></p>

    <div style="border:dashed; border-width:thin;"></div>
    <div id="temp" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div style="border:dashed; border-width:thin;"></div>
    <div>
        <div id="rain" style="float:left; width: 600px; height: 300px; margin: 0 auto"></div>
        <div id="wind" style="float:left; width: 600px; height: 300px; margin: 0 auto"></div>
    </div>
    <div style="border:dashed; clear: both; border-width:thin;"></div>
    <div id="pressure" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


    @Scripts.Render("~/bundles/jquery")
    <script>
	//Display refresh time
	var currentdate = new Date();
	document.getElementById("updatetime").innerHTML = "Last update: " + currentdate.getHours() + ":"
					+ currentdate.getMinutes() + ":"
					+ currentdate.getSeconds();
    </script>
    <script type="text/javascript">
    var model = @Html.Raw(Json.Encode(Model));
    </script>
    <script type="text/javascript">
        $(function () {
            $('#temp').highcharts({
                title: {
                    text: 'Temperature à Wattignies',
                    //x: -20 //center
            },
                subtitle: {
                    text: 'Meteo widget by GuyO',
                    x: -20
                },
                xAxis: {
                    gridLineWidth: 1,
                    categories: [ @Html.Raw(@Model.dayTime) ],
                    plotBands:[{
                        from: @Model.weekEnd[0], //Weekend start
                        to: @Model.weekEnd[1], //Weekend end
                        color:'rgba(156,156,156,.25)' //light grey
                    },
                    {
                        from: @Model.dayStart[0],
                        to: @Model.dayStart[1],
                        label: {
                            text: '@Model.weekDay[1]',
                            y: -5
                        }
                    },
                    {
                        from: @Model.dayStart[1],
                        to: @Model.dayStart[2],
                        label: {
                            text: '@Model.weekDay[2]',
                            y: -5
        }
                    },
                    {
                        from: @Model.dayStart[2],
                        to: @Model.dayStart[3],
                        label: {
                            text: '@Model.weekDay[3]',
                            y: -5
                        }
                    },
                    {
                        from: @Model.dayStart[3],
                        to: @Model.dayStart[4],
                        label: {
                            text: '@Model.weekDay[4]',
                            y: -5
                        }
                    },
                    {
                        from: @Model.dayStart[4],
                        to: @Model.dayStart[5],
                        label: {
                            text: '@Model.weekDay[5]',
                            y: -5
                        }
                    },
                    {
                        from: @Model.dayStart[5],
                        to: @Model.dayStart[6],
                        label: {
                            text: '@Model.weekDay[6]',
                            y: -5
                        }
                    }

                    ],
                    plotLines: [{
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[0] // Position, you'll have to translate this to the values on your x axis
                        },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[1] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[2] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[3] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[4] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[5] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[6] // Position, you'll have to translate this to the values on your x axis
                    }]
                },
                yAxis: [{
                    title: {
                        text: 'Temperature (°C)',
                        style: {
                            color: '#FF4D00'
                        }
                    },
                    labels: {
                        style: {
                            color: '#FF4D00'
                        }
                    },
                    plotLines: [{
                        value: 0,
                        width: 1
                    }]
                },
                { // Secondary yAxis
                    gridLineWidth: 0,
                    title: {
                        text: 'Rainfall (mm)',
                        style: {
                            color: 'rgba(0,30,255,.75)'
                        }
                    },
                    labels: {
                        style: {
                            color: 'rgba(0,30,255,.75)'
                        }
                    },
                    opposite: true},
                    { // Tertiary yAxis
                        gridLineWidth: 0,
                        title: {
                            text: 'Wind (km/h)',
                            style: {
                                color: '#8FC496'
                            }
                        },
                        labels: {
                            style: {
                                color: '#8FC496'
                            }
                        },
                        opposite: true},
                        { // 4th yAxis
                            gridLineWidth: 0,
                            title: {
                                text: 'Pression atmosphérique (hPa)',
                                style: {
                                    color: 'rgba(156,156,156,.75)'
                                }
                            },
                            labels: {
                                style: {
                                    color: 'rgba(156,156,156,.75)'
                                }
                            }}
                ],
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: true
                    },
                    series: {
                        fillOpacity: 0.2 //Set transparency for area for wind
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    showInLegend: false,
                    name: 'Température',
                    color: '#FF4D00',
                    data: [ @Model.temp ],
                    tooltip: {
                        valueSuffix: ' °C'
                    },
                    },
                {
                    type: 'column',
                    yAxis: 1,
                    showInLegend: false,
                    color: 'rgba(0,30,255,.25)',
                    name: 'Rain',
                    data: [@Model.rain]

                },
                {
                    name: 'Wind',
                    type: 'area',
                    yAxis: 2,
                    showInLegend: false,
                    color: 'rgba(0,255,0,.5)',
                    marker: {
                        enabled: false
                    },
                    data: [@Model.wind]

                },
                {
                    name: 'Pression',
                    //type: 'column',
                    yAxis: 3,
                    showInLegend: false,
                    dataLabels: {
                        enabled: false
                    },
                    color: 'rgba(156,156,156,.75)',
                    dashStyle: 'ShortDot',
                    marker: {
                        enabled: false
                    },
                    data: [@Model.pressure]
                }
                ]
            });
        });

        $(function () {
    $('#rain').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Rain'
        },
        xAxis: {
            categories: [ @Html.Raw(@Model.dayTime) ],
            crosshair: true,
            plotBands:[{
                from: @Model.weekEnd[0], //Weekend start
                to: @Model.weekEnd[1], //Weekend end
                color:'rgba(156,156,156,.25)' //light grey
            }],
            plotLines: [{
                color: '#373E40', //Dark grey
                width: 3,
                value: @Model.dayStart[0] // Position, you'll have to translate this to the values on your x axis
            },
            {
                color: '#373E40', //Dark grey
                width: 3,
                value: @Model.dayStart[1] // Position, you'll have to translate this to the values on your x axis
            },
            {
                color: '#373E40', //Dark grey
                width: 3,
                value: @Model.dayStart[2] // Position, you'll have to translate this to the values on your x axis
            },
            {
                color: '#373E40', //Dark grey
                width: 3,
                value: @Model.dayStart[3] // Position, you'll have to translate this to the values on your x axis
            },
            {
                color: '#373E40', //Dark grey
                width: 3,
                value: @Model.dayStart[4] // Position, you'll have to translate this to the values on your x axis
            },
            {
                color: '#373E40', //Dark grey
                width: 3,
                value: @Model.dayStart[5] // Position, you'll have to translate this to the values on your x axis
            },
            {
                color: '#373E40', //Dark grey
                width: 3,
                value: @Model.dayStart[6] // Position, you'll have to translate this to the values on your x axis
            }]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Rainfall (mm)'
            }
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            showInLegend: false,
            name: 'Rain',
            data: [@Model.rain]

        }]
    });
});

        $(function () {
            $('#wind').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Wind'
                },
                xAxis: {
                    categories: [ @Html.Raw(@Model.dayTime) ],
                    crosshair: true,
                    plotBands:[{
                        from: @Model.weekEnd[0], //Weekend start
                        to: @Model.weekEnd[1], //Weekend end
                        color:'rgba(156,156,156,.25)' //light grey
                    }],
                    plotLines: [{
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[0] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[1] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[2] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[3] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[4] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[5] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[6] // Position, you'll have to translate this to the values on your x axis
                    }]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Wind (km)'
                    }
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    showInLegend: false,
                    name: 'Wind',
                    data: [@Model.wind]

                }]
            });
        });


        $(function () {
            $('#pressure').highcharts({
                title: {
                    text: 'Pression atmosphérique à Wattignies',
                    x: -20 //center
                },
                xAxis: {
                    gridLineWidth: 1,
                    categories: [ @Html.Raw(@Model.dayTime) ],
                    plotBands:[{
                        from: @Model.weekEnd[0], //Weekend start
                        to: @Model.weekEnd[1], //Weekend end
                        color:'rgba(156,156,156,.25)' //light grey
                    }],
                    plotLines: [{
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[0] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[1] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[2] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[3] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[4] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[5] // Position, you'll have to translate this to the values on your x axis
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: @Model.dayStart[6] // Position, you'll have to translate this to the values on your x axis
                    }]
                },
                yAxis: {
                    title: {
                        text: 'Pression hPa'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: '°C'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    showInLegend: false,
                    name: 'Pression atmosphérique',
                    data: [ @Model.pressure ]
                }]
            });
        });



    </script>

    <script src="~/Scripts/highcharts.js"></script>



</body>
</html>
